<!DOCTYPE html>

<html>
    <head>
        <title>Votação</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="branco">
                <div class="cinzaClaro">
                    <p>Número:</p>
                    <form action="">
                        <input size="1" id="campo1" [value]="valueInput1" maxlength="1" type="text" readonly="readonly"/>
                        <input size="1" id="campo2" [value]="valueInput2" maxlength="1" type="text" readonly="readonly"/>
                    </form>
                </div>
                <div class="cinzaEscuro">
                    <b>JUSTIÇA<br>ELEITORAL</b>
                </div>
                <div class="preto">
                    <button class="bnt click" (click)="testeValue1()">1</button>
                    <button class="bnt click">2</button>
                    <button class="bnt click">3</button>
                    <button class="bnt click">4</button>
                    <button class="bnt click">5</button>
                    <button class="bnt click">6</button>
                    <button class="bnt click">7</button>
                    <button class="bnt click">8</button>
                    <button class="bnt click">9</button>
                    <button class="bnt click">0</button>
                    <div class="teclado2">
                        <button class="branco  click">BRANCO</button>
                        <button class="laranja  click" >CORRIGE</button>
                        <button class="verde" >CONFIRMA</button>
                    </div>
                </div>
            </div>
            <a href="resultado.html">Resultado</a>
        </div>

    </body>
</html>
